<ion-view view-title="Trending" ng-controller="TrendingCtrl">
  <ion-content>
    <input name="giphySearch" type="search" ng-model="searchbar.terms" class="full-width" ng-enter="update(searchbar)" value="" placeholder="Search Giphy">

    <img collection-repeat="trend in trends" item-width="33%" item-height="100px" ng-src="{{trend.images.fixed_height_downsampled.url}}" ng-click="openModal(trend.images.downsized.url)" class="thumbs" />

    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
