<ion-view view-title="Unicorns" ng-controller="UnicornsCtrl">
  <ion-content>
    <input name="giphySearch" type="search" ng-model="searchbar.terms" class="full-width" ng-enter="update(searchbar)" value="" placeholder="Search Giphy">

    <img collection-repeat="unicorn in unicorns" item-width="33%" item-height="100px" ng-src="{{unicorn.images.fixed_height_downsampled.url}}" ng-click="openModal(unicorn.images.downsized.url)" class="thumbs" />
    
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
  </ion-content>

</ion-view>
