/* Empty. Add your own CSS if you like */

.thumbs {
  border: 3px #fff solid;
  margin-left: 2px;
}

.modalView {
  background: transparent; 
  width: 100%; 
}

.imgModal {
  border: 10px #444 solid;
  margin-top: 45%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 50px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 50px 1px rgba(0,0,0,1);
  box-shadow: 0px 0px 50px 1px rgba(0,0,0,1);
}

.modalCaption {
  margin: 0;
  padding: 2px 5px 5px;
  position: relative;
  top: -10px;
  background-color: #444;
  color: #ccc;
  text-align: center;
}

.full-width {
  padding: 5px 10px !important;
  border-bottom: 1px #ddd solid;
  width: 100%;
}
